@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* colors */
.sand {
  color: #F4F2EF;
}

.dune {
  color: #C5BAAA;
}

.blue {
  color: #455EB6;
}

.blue-background {
  background-color: #455EB6;
}

.sand-background {
  background-color: #F4F2EF;
}

.dune-background {
  background-color: #C5BAAA;

}

/* font */
.nanum-myeongjo-regular {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
