@tailwind base;
@tailwind components;
@tailwind utilities;

/* colors */

body{
  background-color: #F4F2EF;
}

.sand {
  color: #F4F2EF;
}

.dune {
  color: #C5BAAA;
}

.blue {
  color: #455EB6;
}

.blue-background {
  background-color: #455EB6;
}

.sand-background {
  background-color: #F4F2EF;
}

.dune-background {
  background-color: #C5BAAA;
}

.light-blue-background {
  background-color: #D3D9EE;
}

.image-bg {
  position: relative;
  background: url('/assets/iceland.jpg') no-repeat center center;
  background-size: cover;
  background-position: top;
  height: 90vh; /* Adjust as needed */
}

.btn-bg {
  background-color: #455EB6;
}

.btn-bg:hover {
  background-color: #6174b9;
}


.top {
  clip-path: polygon(0 0,100% 0,100% calc(100% - 50px),50% 100%,0 calc(100% - 50px));
}
.bottom {
  clip-path: polygon(0 0,50% 50px,100% 0,100% 100%,0 100%);
  margin-top: -40px;
}

.mountain-bg {
  position: relative;
  background: url('/assets/mountain.jpg') no-repeat center center;
  background-size: cover;
  background-position: top;
}


