@tailwind base;
@tailwind components;
@tailwind utilities;

/* colors */
.sand {
  color: #F4F2EF;
}

.dune {
  color: #C5BAAA;
}

.blue {
  color: #455EB6;
}

.blue-background {
  background-color: #455EB6;
}

.sand-background {
  background-color: #F4F2EF;
}

.dune-background {
  background-color: #C5BAAA;
}

.image-bg {
  position: relative;
  background: url('/assets/iceland.jpg') no-repeat center center;
  background-size: cover;
  background-position: top;
  height: 90vh; /* Adjust as needed */
}

.sand-bg {
  position: relative;
  background-image: url('../public/assets/sand.jpg');
  background-size: cover;
  background-position: top;
  height: 80vh; /* Adjust as needed */
}

.btn-bg {
  background-color: #455EB6;
}

.btn-bg:hover {
  background-color: #6174b9;
}


.ovalDivider {
  position: relative;
  width: 110%; /* Adjust to make the oval wider than 100% */
  height: 150px; /* Adjust based on the desired height of the oval */
  background: #C5BAAA; /* Background color of the oval divider */
  border-radius: 100% 100% 0% 0% / 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -100px; /* Adjust based on the desired overlap effect */
}


